In [46]:
import pandas as pd

df = pd.DataFrame({'A': [0,1,2,3,4,5], 'B':[0, 10,20,30,40,50], 
                    'C': [0, 100,200, 300, 400, 500]}, index = [1,2,3,4,5,6])
df

   A   B    C
1  0   0    0
2  1  10  100
3  2  20  200
4  3  30  300
5  4  40  400
6  5  50  500

In [47]:
writer = pd.ExcelWriter('conditional_format.xlsx', engine ='xlsxwriter')
df.to_excel(writer, sheet_name = 'my_conditional', index = False)
workbook = writer.book
worksheet = writer.sheets['my_conditional']

In [48]:
format1 = workbook.add_format({'bg_color':   '#FFC7CE',
                               'font_color': '#9C0006'})

In [49]:
worksheet.conditional_format('B2:B7', {'type': 'cell',
                                        'criteria': '>=',
                                       'value':50, 
                                      'format': format1})

0

In [50]:
worksheet.write_string('A16', 'Podaj liczbę całkowitą większą od zera:')
worksheet.data_validation('B16', {
    'validate' : 'integer',
    'criteria': '>',
    'value' : 0
})
worksheet.set_column('A:A', 35)

0

In [51]:
writer.save()
workbook.close()

/home/agnieszka/.local/lib/python3.8/site-packages/xlsxwriter/workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")