In [1]:
import pandas as pd

df4 = pd.DataFrame({'A': [0,1,2,3,4,5], 'B':[0, 10,20,30,40,50], 
                    'C': [0, 100,200, 300, 400, 500]}, index = [1,2,3,4,5,6])
df4

   A   B    C
1  0   0    0
2  1  10  100
3  2  20  200
4  3  30  300
5  4  40  400
6  5  50  500

In [2]:
writer = pd.ExcelWriter('add_chart.xlsx', engine='xlsxwriter')
df4.to_excel(writer, sheet_name='my_chart')
writer.save()

In [3]:
workbook = writer.book
worksheet = writer.sheets['my_chart']

In [4]:
chart = workbook.add_chart({'type':'line'})

In [5]:
chart.add_series({'categories':['my_chart', 0, 0, 6, 1],
                 'values' : ['my_chart', 0, 1, 4, 1]})

In [6]:
chart.set_x_axis({
    'name': 'x^2',
    'name_font': {'size': 14, 'bold': True},
    'num_font':  {'italic': True },
})

In [8]:
worksheet.insert_chart('F2', chart)
writer.save()
workbook.close()

/home/agnieszka/.local/lib/python3.8/site-packages/xlsxwriter/worksheet.py:1515: UserWarning: Chart cannot be inserted in a worksheet more than once.
  warn('Chart cannot be inserted in a worksheet more than once.')